<div class="main-content">
    <section class="about-section">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h1>{{title}}</h1>
                </div>
                <div class="row">
                    <div class="about-content">
                        <div class="row">
                            <div class="about-text">
                                <br>
                                <h3>I'm Jeyasuriyaa Jeyakumar</h3>
                                <br>
                                <p> I am a contemporary and enhanced seeker of solutions and results. Excited to be one
                                    of an Individual in this vast digital emerging realm. I am an aspiring, venturesome,
                                    diligent, and a prolific developer.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="info">
                                <div class="row">
                                    <div class="info-item">
                                        <p>Date of Birth : <span>14.09.2000</span></p>
                                    </div>
                                    <div class="info-item">
                                        <p>E-mail : <span>jsuriya816@gmail.com</span></p>
                                    </div>
                                    <div class="info-item">
                                        <p>Phone : <span>+1 705xxxx416</span></p>
                                    </div>
                                    <div class="info-item">
                                        <p>Residence : <span>Barrie, ON</span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="button">
                                        <a href="/images/JeyasuriyaaJeyakumar_Resume .pdf" class="btn" download="">Download Resume</a>
                                    </div>
                                </div>
                            </div>
                            <div class="skills">
                                <div class="row">
                                    <div class="skill-item">
                                        <h5>Java</h5>
                                        <div class="progress">
                                            <div class="progress-in" style="width: 75%;"></div>
                                            <div class="skill-percent">75%</div>
                                        </div>
                                    </div>
                                    <div class="skill-item">
                                        <h5>MySQL</h5>
                                        <div class="progress">
                                            <div class="progress-in" style="width: 80%;"></div>
                                            <div class="skill-percent">80%</div>
                                        </div>
                                    </div>
                                    <div class="skill-item">
                                        <h5>JavaScript</h5>
                                        <div class="progress">
                                            <div class="progress-in" style="width: 70%;"></div>
                                            <div class="skill-percent">70%</div>
                                        </div>
                                    </div>
                                    <div class="skill-item">
                                        <h5>Swift</h5>
                                        <div class="progress">
                                            <div class="progress-in" style="width: 65%;"></div>
                                            <div class="skill-percent">65%</div>
                                        </div>
                                    </div>
                                    <div class="skill-item">
                                        <h5>HTML5 and CSS</h5>
                                        <div class="progress">
                                            <div class="progress-in" style="width: 75%;"></div>
                                            <div class="skill-percent">75%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="education">
                                <h3 class="title">Education</h3>
                                <div class="row">
                                    <div class="timeline-box">
                                    <div class="timeline">
                                        <div class="timeline-item">
                                        <div class="dot"></div>
                                        <h6 class="timeline-date">
                                        <i class="fa fa-calendar"></i> 2017 - 2018
                                        </h6>
                                        <h4 class="timeline-title">High School</h4>
                                        <p class="timeline-text">Ananda Vidyalaya Matriculation Higher Secondary School, Rajapalayam, Tamilnadu, India.</p>
                                    </div>
                                       <div class="timeline-item">
                                        <div class="dot"></div>
                                        <h6 class="timeline-date">
                                        <i class="fa fa-calendar"></i> 2018 - 2019
                                        </h6>
                                        <h4 class="timeline-title">Certification on - Diploma in Computer Appplication</h4>
                                        <p class="timeline-text">COURSE INCLUDES: Computer packages and Operating system (CPOS), C++ Programming.</p>
                                    </div>
                                    <div class="timeline-item">
                                        <div class="dot"></div>
                                        <h6 class="timeline-date">
                                        <i class="fa fa-calendar"></i> 2019 - 2021
                                        </h6>
                                        <h4 class="timeline-title">Post-Secondary Diploma</h4>
                                        <p class="timeline-text">Computer Programmer, Georgian College, Barrie, Ontario.</p>
                                    </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
