<div class="main-content">
    <section class="contact-section">
       <div class="container">
           <div class="contact-me">
           <div class="row">   
           <div class="section-title">
               <h1>{{title}}</h1>
           </div>       
               <div class="contact-item">
                   <div class="icon"><i class="fa fa-phone"></i></div>
                   <h4>Call me on</h4>
                   <p>+1 705xxxx416</p>
               </div>
               <div class="contact-item">
                   <div class="icon"><i class="fa fa-envelope"></i></div>
                   <h4>E-mail  </h4>
                   <p>jsuriya816@gmail.com</p>
               </div>
               <div class="contact-item">
                   <div class="icon"><i class="fa fa-address-book"></i></div>
                   <h4>Address</h4>
                   <p>117, Tunbridge rd, Barrie, ON</p>
               </div>
           </div>
           <div class="contact-form">
               <div class="row">
                   <div class="form-item col-6">
                       <div class="form-group">
                           <input type="text" class="form-control" placeholder="Name">
                       </div>
                   </div>
                   <div class="form-item col-6">
                       <div class="form-group">
                           <input type="text" class="form-control" placeholder="E-mail">
                       </div>
                   </div>
               </div>
               <div class="row">
                   <div class="form-item col-6">
                       <div class="form-group">
                           <input type="text" class="form-control" placeholder="Subject">
                       </div>
                   </div>
               </div>
                <div class="row">
                   <div class="form-item col-12">
                       <div class="form-group">
                           <textarea class="form-control" placeholder="Message"></textarea>
                       </div>
                   </div>
               </div>
                <div class="row">
                   <div class="col-12">
                       <button type="submit" class="btn">Send</button>
                   </div>
               </div>
           </div>
           </div>
       </div>
    </section>
</div>
