<div class="main-content">
    <section class="home-section">
       <div class="container">
           <div class="introduction">
               <img src="/images/me.jpg" alt="profile"/>
               <h1>{{title}}</h1>
               <h4>I'm a Full-Stack Developer</h4>
           </div>
       </div>
    </section>
</div>
