<!DOCTYPE html>
<html>
  <head>
    <title>My Portfolio</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="main-container">      
       <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <i class="fa fa-bars"><a>Portfolio</a></i>
        </label>
      <div class="aside">
        <div class="logo">
          <a href="/">Portfolio</a>
        </div>
          <ul class="navigation">
            <li><a href="/" class="active"><i class="fa fa-home"></i>Home</a></li>
            <li><a href="/about"><i class="fa fa-user"></i>About</a></li>
            <li><a href="/projects"><i class="fa fa-briefcase"></i>Projects</a></li>
            <li><a href="/references"><i class="fa fa-envelope"></i>References</a></li>
            <li><a href="/contact"><i class="fa fa-comments"></i>Contact me</a></li>
          </ul>
          <footer>
            <div class="copyright">
              &copy; 2021 Jeyasuriyaa Jeyakumar
            </div>
            <div class="social-pages">
              <a href="https://github.com/J-Suriyaa" class="github" target="_blank">
                <i class="fa fa-github"></i>
              </a>
              <a href="https://www.linkedin.com/in/jeyasuriyaa-jeyakumar-6139591b2" class="linkedin" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
              <a title="Not a coding channel." href="https://www.youtube.com/channel/UCSfo2RGG9bZr1zUjrp-pdtA" class="youtube" target="_blank">
              <i class="fa fa-youtube"></i>
              </a>
            </div>
          </footer>
      </div>
    </div>
    {{{body}}}
  </body>
</html>
