<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
<!-- Sketchy bootstrap theme from http://bootswatch.com-->    
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
  </head>
  <body>
    <div>
      <a href='/'>Home</a>
      <a href='/about'>About me</a>
      <a href='/projects'>Projects</a>
      <a href='/contact'>Contact Me</a>
    </div>
    {{{body}}}
  </body>
  <footer>
    this is a footer
  </footer>
</html>
