<div class="main-content">
    <section class="projects-section">
       <div class="container">
           <div class="row">
               <div class="section-title">
                   <h1>Projects</h1>
               </div>
           </div>
           <div class="row">
               <div class="project-item">
                   <div class="project-item-inner">
                       <div class="project-img">
                           <img src="/images/rps.png" alt="project"/>
                       </div>
                       <div class="project-info">
                           <h4 class="project-title">Rock, Papers and Scissors</h4>
                           <p class="project-desc">This <b>JavaScript</b> project is a program, which has player input and computer's output.
                            <br> 
                            <a href="https://github.com/J-Suriyaa/comp2106-lab1.git">code link</a>
                           </p>
                       </div>
                   </div>
               </div>
               <div class="project-item">
                   <div class="project-item-inner">
                       <div class="project-img">
                           <img src="/images/todo.png" alt="project"/>
                       </div>
                       <div class="project-info">
                           <h4 class="project-title">ToDo-list</h4>
                           <p class="project-desc">A To-Do Model view controller application using <b>C#</b>. Inlcudes add and delete options.
                            <br>
                            <a href="https://github.com/J-Suriyaa/Midterm.git">code link</a>
                           </p>
                       </div>
                   </div>
               </div>
               <div class="project-item">
                   <div class="project-item-inner">
                       <div class="project-img">
                           <img src="/images/rma.png" alt="project"/>
                       </div>
                       <div class="project-info">
                           <h4 class="project-title">Restaurant Management app</h4>
                           <p class="project-desc">An IOS mobile application for managing restaurant based activities using <b>Swift</b>.
                            <br>
                            <a href="https://github.com/J-Suriyaa/Restaurant-Management.git">code link</a>
                           </p>
                       </div>
                   </div>
               </div>
               <div class="project-item">
                   <div class="project-item-inner">
                       <div class="project-img">
                           <img src="/images/crud.png" alt="project"/>
                       </div>
                       <div class="project-info">
                           <h4 class="project-title">CRUD application</h4>
                           <p class="project-desc">A <b>.Net</b> web application, which does Create, Read, Update and Delete operations.
                            <br>
                            <a href="https://github.com/J-Suriyaa/Final-Project.git">code link</a>
                           </p>
                           </p>
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </section>
</div>