<div class="main-content">
    <section class="reference-section">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h1>References </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="reference-item">
                <div class="reference-item-inner shadow-dark">
                    <div class="reference-img">
                        <img src="/images/ref1.png" alt="reference">
                        <div class="reference-date">
                            <h6>28 Feb 2021</h6>
                        </div>
                    </div>
                    <div class="reference-info">
                        <h5 class="reference-description1">It is the feedback by professor Rich Freeman on my <b>Online portfolio</b>. As per his feedback, the responsive features have added then.
                        </h5> </p>
                        <p class="tags">Tags: <a href="#">NodeJs</a>, <a href="#"> Express</a>,<a href="#"> Handlebars</a>, <a href="#"> CSS</a> 
                    </div>
                </div>
            </div>
             <div class="reference-item">
                <div class="reference-item-inner shadow-dark">
                    <div class="reference-img">
                        <img src="/images/ref2.png" alt="reference">
                        <div class="reference-date">
                           <h6>9 April 2021</h6> 
                        </div>
                    </div>
                    <div class="reference-info">
                        <h5 class="reference-description2">It is the feedback by professor Rich Freeman on the <b>Employee Management web application</b>. Which has CRUD operation and user authentication.</h5>
                        <p class="tags">Tags: <a href="#">NodeJs</a>, <a href="#"> Mongoose & MongoDb</a>, <a href="#"> Express</a>,<a href="#"> Handlebars</a>, <a href="#"> CSS</a> </p> 
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>